{{! 分享功能}}
<section id="share">
	<span>分享</span>
	
    <a id="qqzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{url absolute='true'}}" target="_blank"><span class="icon-qzone"></span></a>

    <a id="weibo" href="http://v.t.sina.com.cn/share/share.php?url={{url absolute='true'}}" target="_blank"><span class="icon-weibo"></span></a>
    
</section>
