{{!< default}}
<section id="author">

    {{#author}}
    <header>
        <img src="{{image}}" alt={{name}} />
        <div id="details">
            <h1>{{name}}</h1>
            <h2>{{{bio}}}</h2>
        </div>
    </header>
    {{/author}}

    {{! 不显示作者文章 > excerpts}}
    
</section>
